@font-face {
    font-family: 'vimland_blackregular';
    src: url('fonts/vimland-black/vimland_black-webfont.woff2') format('woff2'),
         url('fonts/vimland-black/vimland_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'adigiana_2regular';
    src: url('fonts/Adigiana Ultra/adigiana_ultra-webfont.woff2') format('woff2'),
         url('fonts/Adigiana Ultra/adigiana_ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fatternregular';
    src: url('fonts/Fattern/fattern-webfont.woff2') format('woff2'),
         url('fattern-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    font-family: 'vimland_blackregular';
    font-size: 7vh;
    background-color: #FFAD05;
    height: 7vh;
    display: flex;
    flex-direction: row;
}
#vol{
    background-color: #FFAD05;
    border: 0.5vh solid black;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 6vh;
    height: 5.5vh;
    margin: auto 10px auto 0px;
}
#vol:hover{
    filter: brightness(0.5);
}
#htext{
    margin: auto;
}
#dark{
    background-color: #FFAD05;
    border: 0.5vh solid black;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 6vh;
    height: 5.5vh;
    margin: auto 0px auto 10px;
}
#dark:hover{
    filter: brightness(0.5);
}
#vol img{
    width: 4vh;
    height: 4.1vh;
}
#dark img{
    width: 4vh;
    height: 4.1vh;
}
#board{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.7vw;
    grid-row-gap: 0.7vw;
    margin: 5.4vh auto 5.4vh auto;
    font-family: 'adigiana_2regular';
    background-color: black;
    width: 29.3vw;
    border-radius: 1.6vw;
}
.letters{
    color: rgb(66, 66, 66);
    background-color: #FFAD05;
    font-size: 6.5vw;
    text-align: center;
}
#letter1{
    border-radius: 1.3vw 0px 0.64vw 0px;
}
#letter2{
    border-radius: 0px 0px 0.64vw 0.64vw;
}
#letter3{
    border-radius: 0px 1.3vw 0px 0.64vw;
}
#letter4{
    border-radius: 0px 0.64vw 0.64vw 0px;
}
#letter5{
    border-radius: 0.64vw 0.64vw 0.64vw 0.64vw;
}
#letter6{
    border-radius: 0.64vw 0px 0px 0.64vw;
}
#letter7{
    border-radius: 0px 0.64vw 0px 1.3vw;
}
#letter8{
    border-radius: 0.64vw 0.64vw 0px 0px;
}
#letter9{
    border-radius: 0.64vw 0px 1.3vw 0px;
}
#i1{
    margin: 2vh;
    font-family: 'fatternregular';
    font-size: 4.7vh;
    text-align: center;
    color: #FFAD05;
}
#i2{
    margin: 4vh;
    font-family: 'fatternregular';
    font-size: 4vh;
    text-align: center;
    color: #FFAD05;
}
#num{
    background-color: black;
    color: #FFAD05;
    outline: none;
    border: none;
    font-family: 'fatternregular';
    font-size: 4.7vh;
    height: 7vh;
    width: 3vh;
}
#num[type=number]::-webkit-inner-spin-button, 
#num[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
#btn{
    cursor: pointer;
    background-color: #FFAD05;
    border-radius: 0.5vh;
    font-family: 'fatternregular';
    font-size: 2vh;
    height: 3vh;
    width: 7vh;
    position: relative;
    bottom: 1vh;
}
#btn:hover{
    filter: brightness(0.5);
}
audio{
    display: none;
}
@media screen and (min-width: 622px) and (max-width: 1700px) {
    #board{
        width: 500px;
        height: 425px;
        grid-column-gap: 11px;
        grid-row-gap: 11px;
        border-radius: 15px;
    }
    #letter1{
        border-radius: 15px 0px 10px 0px;
    }
    #letter2{
        border-radius: 0px 0px 10px 10px;
    }
    #letter3{
        border-radius: 0px 15px 0px 10px;
    }
    #letter4{
        border-radius: 0px 10px 10px 0px;
    }
    #letter5{
        border-radius: 10px 10px 10px 10px;
    }
    #letter6{
        border-radius: 10px 0px 0px 10px;
    }
    #letter7{
        border-radius: 0px 10px 0px 15px;
    }
    #letter8{
        border-radius: 10px 10px 0px 0px;
    }
    #letter9{
        border-radius: 10px 0px 15px 0px;
    }
    .letters{
        font-size: 110px;
    }
}
@media screen and (max-width: 622px) and (min-width: 500px){
    #board{
        width: 400px;
        height: 340px;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        border-radius: 20px;
    }
    #letter1{
        border-radius: 20px 0px 12px 0px;
    }
    #letter2{
        border-radius: 0px 0px 12px 12px;
    }
    #letter3{
        border-radius: 0px 20px 0px 12px;
    }
    #letter4{
        border-radius: 0px 12px 12px 0px;
    }
    #letter5{
        border-radius: 12px 12px 12px 12px;
    }
    #letter6{
        border-radius: 12px 0px 0px 12px;
    }
    #letter7{
        border-radius: 0px 12px 0px 20px;
    }
    #letter8{
        border-radius: 12px 12px 0px 0px;
    }
    #letter9{
        border-radius: 12px 0px 20px 0px;
    }
    .letters{
        font-size: 90px;
    }
    #i2{
        font-size: 55px;
    }
    #i1{
        font-size: 40px;
    }
}
@media screen and (max-width: 500px){
    #htext{
        font-size: 5.5vh;
        position: relative;
        top: 0.5vh;
    }
    #board{
        width: 300px;
        height: 240px;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        border-radius: 12px;
    }
    #letter1{
        border-radius: 12px 0px 7px 0px;
    }
    #letter2{
        border-radius: 0px 0px 7px 7px;
    }
    #letter3{
        border-radius: 0px 12px 0px 7px;
    }
    #letter4{
        border-radius: 0px 7px 7px 0px;
    }
    #letter5{
        border-radius: 7px 7px 7px 7px;
    }
    #letter6{
        border-radius: 7px 0px 0px 7px;
    }
    #letter7{
        border-radius: 0px 7px 0px 12px;
    }
    #letter8{
        border-radius: 7px 7px 0px 0px;
    }
    #letter9{
        border-radius: 7px 0px 12px 0px;
    }
    .letters{
        font-size: 60px;
    }
    #i2{
        font-size: 40px;
    }
    #i1{
        font-size: 35px;
    }
}